<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <center>
        <h1>Create Account</h1>

        <form method="POST">
            Name : <input type="text" name="name" value="" placeholder="Fullname" > <br>
            email : <input type="email" name="email" value="" placeholder="email" > <br>
            Phone : <input type="number" name="phone" value="" placeholder="phone" > <br>
            Type : <input type="text" name="type" value="" placeholder="type"> <br>
            Username : <input type="text" name="username" value="" placeholder="username" > <br>
            Password : <input type="password" name="password" placeholder="password" ><br><br>
            <input type="submit" value="Register" name="register">
        </form>
    </center>
</body>
</html>