<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <center>
        <h2>Create POST</h2>
    </center>
    <a href="/scoutHome">Back</a> | 
    <a href="/logout">Logout</a>
    <hr>

    <form method="POST">
    <table>
        <tr>
            <td>Place Name</td>
            <td><input type="text" name="placename"></td>
        </tr>

        <tr>
            <td>Costing</td>
            <td><input type="text" name="costing"></td>
        </tr>

        <tr>
            <td>Travel Medium</td>
            <td><input type="text" name="medium"></td>
        </tr>

        <tr>
            <td>Description</td>
            <td><input type="text" name="description"></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" name="post" value="Post"></td>
        </tr>
    </table>
    </form>
    
</body>
</html>